<com.owlplatform.solver.passivemotion.AlgorithmConfig>
  <tileScoreThreshold>0.5</tileScoreThreshold>
  <stdDevNoiseThreshold>1.2</stdDevNoiseThreshold>
  <radiusThreshold>90.0</radiusThreshold>
  <linkMinDistance>5</linkMinDistance>
  <lineLengthPower>1.1</lineLengthPower>
  <desiredTileWidth>10.0</desiredTileWidth>
  <desiredTileHeight>10.0</desiredTileHeight>
  <neighborRatio>.7</neighborRatio>
  <peakRatio>0.5</peakRatio>
</com.owlplatform.solver.passivemotion.AlgorithmConfig>
